<div>
    <h2>关于本站</h2>
    <ol>
        <li>如果想要在表白中插入图片，请填写立即表白一栏的最后一项，你只需要填入你的图片外链地址即可即可(包含http或https，否则显示出错)。</li>
        <li>为防止上传文件程序存在漏洞引起安全问题，本站不支持上传图片，如果你的表白中存在图片，请使用外链。</li>
        <li>发言请遵守当地法律法规和学校规章制度，吴先森的表白墙保留对于发布不良信息和人身攻击的自然人追究法律责任的权利。求生欲🐕</li>
        <li>如发现有消息对个人生活产生困扰或想要获取告白者的联系方式，请联系网站管理员。</li>
        <li>让我当大号电灯泡和吃点狗粮吧，23333333333 🐕🐕🐕🐕🐕🐕🐕</li>
        <li>本站程序由吴先森开发，版权归吴先森所有。</li>
    </ol>
    <p>作者博客:<a href="#">吴先森的笔记</a></p>
    <p>作者邮箱:i@mr-wu.top</p>
</div>